{% set nbSection = 1 %}
<html xmlns="http://www.w3.org/1999/html">
<head>
    <style type="text/css">

        body {
            font-family: sans-serif;
            margin: 0.5cm 0;
            text-align: justify;
            font-size: 15px;
        }

        #header{
            position: relative;
            top: -30px;
            left: 0;
            right: 0;
        }

        #footer {
            position: fixed;
            left: 0;
            right: 0;
            font-size: 0.9em;
        }

        #footer {
            bottom: 60px;
        }

        #header table,
        #footer table {
            width: 90%;
            border-collapse: collapse;
            border: none;
        }

        #header td,
        #footer td {
            padding: 0;
            width: 50%;
        }

        .page-number {
            text-align: right;
        }

        .page-number:before {
            content: "Page " counter(page);
        }

        hr {
            page-break-after: always;
            border: 0;
        }
        .colorSystem{
            color: #1F497D;
        }

        tr {
            border: 1px solid black
        }
        .gray{
            background-color: lightgray;
        }
    </style>
</head>

<body style="font-size: 8px;">
<div class="section section1">
    <div id="header">
        <table style="text-align: center; ;font-size: 7px">
            <tr>
{#                                <td rowspan="4"><img src="{{ asset("img/logo.png") }}" width="15%"/></td>#}
                <td rowspan="4"><img src="{{ app.request.getSchemeAndHttpHost() ~ asset('img/logo.png') }}" width="20%" alt="logo"></td>
                <td>Date Création</td>
                <td>06/01/2015</td>
                <td></td>
            </tr>
            <tr>
                <td>Date Version</td>
                <td>04/08/2020</td>
                <td>FE 2</td>
            </tr>
            <tr>
                <td>Page</td>
                <td>01/1</td>
                <td>FICHE CREATION CLIENT</td>
            </tr>
            <tr>
                <td colspan="3"></td>
            </tr>
        </table>
    </div>
    <br>
    <div>
        <table width="90%" style="margin-top: -42px;">
            <tr>
                <td><strong>Date</strong></td>
                <td>{{ fiche.date|date('d/m/Y') }}</td>
                <td><strong>Code Client</strong></td>
                <td class="gray">{{ fiche.codeClient }}</td>
            </tr>
            <tr>
                <td><strong>Ouverture Demandé Par</strong></td>
                <td class="gray">{{ fiche.ouvertureDemandee }}</td>
                <td><strong>Ancien Code Client (si existant)</strong></td>
                <td class="gray">{{ fiche.ancienCodeClient }}</td>
            </tr>
            <tr>
                <td colspan="2"><strong>Compte Frère</strong></td>
                <td colspan="2" rowspan="2" class="gray">{{ fiche.compteFrere }}</td>
            </tr>
            <tr>
                <td colspan="2">(Indiquer si besoin de rattacher ce client à un autre compte, ex : 4G, marée, etc)</td>
            </tr>
        </table>
        <table width="90%" style="border: 1px solid black">
            <tr style="background-color: green; color: white;text-align: center;font-size: 11px">
                <td colspan="7"><strong>PARTIE A RENSEIGNER PAR LE COMMERCIAL</strong></td>
            </tr>
            <tr style="text-align: center">
                <td colspan="7" style="border: 1px solid black;font-size: 9px"><strong>EXTRAIT KBIS + RIB + FICHE RETOUR CREDIT SAFE + SIGNATURE CGV</strong></td>
            </tr>
            <tr>
                <td><strong>SITE</strong></td>
                <td class="gray">{{ fiche.societe }}</td>
                <td colspan="5"></td>
            </tr>
            <tr>
                <td><strong>Comptes à créer</strong></td>
                <td><input type="checkbox" checked name="fl"/><label for="fl"><strong>Fruits & Légumes</strong></label></td>
                <td><input type="checkbox" checked name="45g"/><label for="45g"><strong>4/5G</strong></label></td>
                <td><input type="checkbox" name="maree"/><label for="maree"><strong>Marée</strong></label></td>
                <td><input type="checkbox" name="cremerie"/><label for="cremerie"><strong>Crémerie</strong></label></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td><strong>Nom Appel du Client</strong></td>
                <td colspan="2" class="gray">{{ fiche.nomAppel }}</td>
                <td><strong>Téléphone Standard</strong></td>
                <td colspan="2" class="gray">{{ fiche.telStandard }}</td>
                <td><input type="checkbox" name="tel"/><label for="tel"><strong>Type Télévente</strong></label></td>
            </tr>
            <tr>
                <td><strong>Code Gestion</strong></td>
                <td colspan="2" class="gray">{{ fiche.codeGestion }}</td>
                <td><strong>Portable</strong></td>
                <td colspan="2" class="gray">{{ fiche.port_standard }}</td>
                <td><input type="checkbox" checked name="port"/><label for="port"><strong>Type Télévente</strong></label></td>
            </tr>
            <tr>
                <td><strong>Raison Sociale</strong></td>
                <td colspan="2" class="gray">{{ fiche.raisonSociale }}</td>
                <td><strong>Fax Standard</strong></td>
                <td colspan="2" class="gray">{{ fiche.faxStandard }}</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Adresse Livraison</strong></td>
                <td colspan="2" class="gray">{{ fiche.adresseLivraison }}</td>
                <td><strong>Client à appeler</strong></td>
                <td><input type="checkbox" checked name="clientOui"/><label for="clientOui"><strong>Oui</strong></label></td>
                <td><input type="checkbox" name="clientNon"/><label for="clientNon"><strong>Non</strong></label></td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Code Postal & Ville</strong></td>
                <td colspan="2" class="gray">{{ fiche.cpVille }}</td>
                <td colspan="2"  style="text-align: center"><strong>Jour</strong></td>
                <td colspan="2"  style="text-align: center"><strong>Horaire</strong></td>
            </tr>
            <tr>
                <td><strong>N° SIRET</strong></td>
                <td colspan="2" class="gray">{{ fiche.siret }}</td>
                <td colspan="2" class="gray" style="text-align: center">{{ fiche.jourAppel1 }}</td>
                <td colspan="2" class="gray" style="text-align: center">{{ fiche.horaireAppel1 }}</td>
            </tr>
            <tr>
                <td><strong>N° TVA intercommunautaire</strong></td>
                <td colspan="2" class="gray">{{ fiche.tvainter }}</td>
                <td colspan="2" class="gray" style="text-align: center">{{ fiche.jourAppel2 }}</td>
                <td colspan="2" class="gray" style="text-align: center">{{ fiche.horaireAppel2 }}</td>
            </tr>
            <tr>
                <td><strong>Type Client</strong></td>
                <td><input type="checkbox" checked name="public"/><label for="public"><strong>Public</strong></label></td>
                <td><input type="checkbox" checked name="prive"/><label for="prive"><strong>Privé</strong></label></td>
                <td colspan="2" class="gray" style="text-align: center">{{ fiche.jourAppel3 }}</td>
                <td colspan="2" class="gray" style="text-align: center">{{ fiche.horaireAppel3 }}</td>
            </tr>
            <tr>
                <td colspan="7">Si client public (= chorus), compléter impérativement les champs suivants :  n° SIRET,  n° engagement et code service</td>
            </tr>
            <tr>
                <td><strong>N° Engagement</strong></td>
                <td colspan="2" class="gray">{{ fiche.engagement }}</td>
                <td colspan="4"></td>
            </tr>
            <tr>
                <td><strong>Code Service</strong></td>
                <td colspan="2" class="gray">{{ fiche.codeService }}</td>
                <td colspan="4"></td>
            </tr>
            <tr>
                <td><strong>Adresse pour Envoi Factures<br>(si différente Adresse de Livraison)</strong></td>
                <td colspan="2" class="gray">{{ fiche.adresseFacture }}</td>
                <td><strong>Email Envoi Factures</strong></td>
                <td colspan="7" class="gray">{{ fiche.emailFacture }}</td>
            </tr>
            <tr>
                <td><strong>AFFTYPO CHAMP STAT 1</strong></td>
                <td colspan="2" class="gray">{{ fiche.stat1 }}</td>
                <td colspan="4"></td>
            </tr>
            <tr>
                <td><strong>AFFTYPO CHAMP STAT 2</strong></td>
                <td colspan="2" class="gray">{{ fiche.stat2 }}</td>
                <td colspan="4"></td>
            </tr>
            <tr>
                <td><strong>AFFTYPO CHAMP STAT 3</strong></td>
                <td colspan="2" class="gray">{{ fiche.stat3 }}</td>
                <td colspan="4"></td>
            </tr>
            <tr>
                <td><strong>AFFTYPO CHAMP STAT 4</strong></td>
                <td colspan="2" class="gray">{{ fiche.stat4 }}</td>
                <td><strong>Tarif Client</strong></td>
                <td colspan="3" class="gray">{{ fiche.tarifClient }}</td>
            </tr>
            <tr>
                <td><strong>AFFTYPO CHAMP STAT 5</strong></td>
                <td colspan="2" class="gray">{{ fiche.stat5 }}</td>
                <td><strong>Envoi Tarif Auto</strong></td>
                <td><input type="checkbox" checked name="envoiTarifOui"/><label for="envoiTarifOui"><strong>Oui</strong></label></td>
                <td><input type="checkbox" checked name="envoiTarifNon"/><label for="envoiTarifNon"><strong>Non</strong></label></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3"><strong>Mode de Règlement</strong>/ * Joindre Courrier Acceptation</td>
                <td><strong>Date 1ère Livraison</strong></td>
                <td colspan="3" class="gray">{{ fiche.dateLivraison1|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <td><input type="checkbox" checked name="public"/><label for="public"><strong>Avance</strong></label></td>
                <td colspan="2"><input type="checkbox" checked name="public"/><label for="public"><strong>Virement</strong></label></td>
                <td><strong>PVC</strong></td>
                <td><input type="checkbox" checked name="pvcOui"/><label for="pvcOui"><strong>Oui</strong></label></td>
                <td><input type="checkbox" checked name="pvcNon"/><label for="pvcNon"><strong>Non</strong></label></td>
            </tr>
            <tr>
                <td><input type="checkbox" checked name="public"/><label for="public"><strong>Chèque Bancaire</strong></label></td>
                <td colspan="2"><input type="checkbox" checked name="public"/><label for="public"><strong>* Prélèvement</strong></label></td>
                <td><strong>Coef PVC</strong></td>
                <td colspan="3" class="gray">{{ fiche.coefPVC }}</td>
            </tr>
            <tr style="text-align: center;font-size: 9px">
                <td colspan="7" style="border: 1px solid black"><strong>CONTACTS</strong></td>
            </tr>
            <tr>
                <td colspan="7"><strong>Dirigieant</strong></td>
            </tr>
            <tr>
                <td style="text-align: right">Nom</td>
                <td class="gray">{{ fiche.ct_dir_nom }}</td>
                <td style="text-align: right">Tél</td>
                <td class="gray">{{ fiche.ct_dir_tel }}</td>
                <td style="text-align: right">Mail</td>
                <td class="gray">{{ fiche.ct_dir_mail }}</td>
            </tr>
            <tr>
                <td colspan="7"><strong>Comtpa Règlement</strong></td>
            </tr>
            <tr>
                <td style="text-align: right">Nom</td>
                <td class="gray">{{ fiche.ct_compta_nom }}</td>
                <td style="text-align: right">Tél</td>
                <td class="gray">{{ fiche.ct_compta_tel }}</td>
                <td style="text-align: right">Mail</td>
                <td class="gray">{{ fiche.ct_compta_mail }}</td>
            </tr>
            <tr>
                <td colspan="7"><strong>Responsable Commandes</strong></td>
            </tr>
            <tr>
                <td style="text-align: right">Nom</td>
                <td class="gray">{{ fiche.ct_com_nom }}</td>
                <td style="text-align: right">Tél</td>
                <td class="gray">{{ fiche.ct_com_tel }}</td>
                <td style="text-align: right">Mail</td>
                <td class="gray">{{ fiche.ct_com_mail }}</td>
            </tr>
            <tr>
                <td colspan="7"><strong>Responsable Qualité</strong></td>
            </tr>
            <tr>
                <td style="text-align: right">Nom</td>
                <td class="gray">{{ fiche.ct_qua_nom }}</td>
                <td style="text-align: right">Tél</td>
                <td class="gray">{{ fiche.ct_qua_tel }}</td>
                <td style="text-align: right">Mail</td>
                <td class="gray">{{ fiche.ct_qua_mail }}</td>
            </tr>
        </table>
        <table width="90%" style="border: 1px solid black">
            <tr style="background-color: green; color: white;text-align: center;font-size: 11px">
                <td colspan="8"><strong>PARTIE A RENSEIGNER PAR LA LOGISTIQUE</strong></td>
            </tr>
            <tr>
                <td colspan="2"><strong>Jours de Livraison</strong></td>
                <td><input type="checkbox" checked name="lundi"/><label for="lundi"><strong>Lundi</strong></label></td>
                <td><input type="checkbox" checked name="mardi"/><label for="mardi"><strong>Mardi</strong></label></td>
                <td><input type="checkbox" checked name="mercredi"/><label for="mercredi"><strong>Mercredi</strong></label></td>
                <td><input type="checkbox" checked name="jeudi"/><label for="jeudi"><strong>Jeudi</strong></label></td>
                <td><input type="checkbox" checked name="vendredi"/><label for="vendredi"><strong>Vendredi</strong></label></td>
                <td><input type="checkbox" checked name="samedi"/><label for="samedi"><strong>Samedi</strong></label></td>
            </tr>
            <tr>
                <td colspan="2"><strong>Tournée</strong></td>
                <td class="gray">{{ fiche.tournee }}</td>
                <td colspan="5"></td>
            </tr>
            <tr>
                <td colspan="2"><strong>Plage Horaire Livraison</strong></td>
                <td class="gray">{{ fiche.plageHoraire }}</td>
                <td colspan="5"></td>
            </tr>
            <tr>
                <td><strong>Coordonnées GPS Livraison</strong></td>
                <td style="text-align: right">Latitude</td>
                <td class="gray">{{ fiche.latitude }}</td>
                <td colspan="5"></td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align: right">Longitude</td>
                <td class="gray">{{ fiche.longitude }}</td>
                <td colspan="5"></td>
            </tr>
        </table>
        <table width="90%" style="border: 1px solid black">
            <tr style="background-color: green; color: white;text-align: center;font-size: 11px">
                <td colspan="7"><strong>PARTIE A RENSEIGNER PAR LA DIRECTION</strong></td>
            </tr>
            <tr>
                <td><strong>Date</strong></td>
                <td class="gray">{{ fiche.dateDirection|date('d/m/Y') }}</td>
                <td colspan="5"></td>
            </tr>
            <tr>
                <td><strong>Attribution DIRECTION COMMERCIALE</strong></td>
                <td class="gray">{{ fiche.dir_com }}</td>
                <td><strong>Services Associés</strong></td>
                <td>Taux</td>
                <td class="gray">{{ fiche.taux1 }}</td>
                <td>Nature</td>
                <td class="gray">{{ fiche.nature1 }}</td>
            </tr>
            <tr>
                <td><strong>Attribution COMMERCIAL MAÎTRE</strong></td>
                <td class="gray">{{ fiche.com_maitre }}</td>
                <td></td>
                <td>Taux</td>
                <td class="gray">{{ fiche.taux2 }}</td>
                <td>Nature</td>
                <td class="gray">{{ fiche.nature2 }}</td>
            </tr>
            <tr>
                <td><strong>Attribution COMMERCIAL</strong></td>
                <td class="gray">{{ fiche.com }}</td>
                <td></td>
                <td>Taux</td>
                <td class="gray">{{ fiche.taux3 }}</td>
                <td>Nature</td>
                <td class="gray">{{ fiche.nature3 }}</td>
            </tr>
            <tr>
                <td><strong>Attribution TELEVENDEUR</strong></td>
                <td class="gray">{{ fiche.televendeur }}</td>
                <td colspan="5"></td>
            </tr>
        </table>
        <table width="90%" style="border: 1px solid black">
            <tr style="background-color: green; color: white;text-align: center;font-size: 11px">
                <td colspan="7"><strong>PARTIE A RENSEIGNER PAR LA COMPTABILITE</strong></td>
            </tr>
            <tr>
                <td colspan="2"><strong>Catégorie Client</strong></td>
                <td colspan="3" class="gray">{{ fiche.catClient }}</td>
                <td><strong>Délais de Règlement</strong></td>
                <td colspan="2" class="gray">{{ fiche.delais_reg }}</td>
            </tr>
            <tr>
                <td><strong>Minimum Livraison</strong></td>
                <td style="text-align: right">Limite Frais</td>
                <td class="gray">{{ fiche.min_liv }}</td>
                <td style="text-align: right">Montant</td>
                <td class="gray">{{ fiche.mon_liv }}</td>
                <td><strong>Blocage Compte</strong></td>
                <td><input type="checkbox" checked name="blocCompteOui"/><label for="blocCompteOui"><strong>Oui</strong></label></td>
                <td><input type="checkbox" checked name="blocCompteOui"/><label for="blocCompteNon"><strong>Non</strong></label></td>
            </tr>
            <tr>
                <td colspan="2"><strong>Nombre Exemplaire Factures</strong></td>
                <td class="gray">{{ fiche.nb_fac }}</td>
                <td></td>
                <td><strong>Fréquence des Relevés</strong></td>
                <td><input type="checkbox" checked name="hebdo"/><label for="hebdo"><strong>Hebdo</strong></label></td>
                <td><input type="checkbox" checked name="decade"/><label for="decade"><strong>Decade</strong></label></td>
                <td><input type="checkbox" checked name="mois"/><label for="mois"><strong>Mois</strong></label></td>
            </tr>
            <tr>
                <td colspan="2"><strong>Frais de Développement Durable</strong></td>
                <td><input type="checkbox" checked name="090"/><label for="090"><strong>0,90 €</strong></label></td>
                <td><input type="checkbox" checked name="150"/><label for="150"><strong>1,50 €</strong></label></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>