  <!DOCTYPE html>


{% set companyColor = {
    "ARDENNES PRIMEURS": "#00FFFF",
    "BIO EMOI": "#F08080",
    "PROMER OCEAN": "#20B2AA",
    "RIBEGROUPE": "#FF00FF",
    "RIBEPRIM": "#90EE90",
    "RIVOALLON": "#00FFFF",
    "RODAFRUITS": "#FFFF00",
    "SIDELIS": "#FFB6C1",
    "VELDERS": "#008000" } %}

  <html>
    <head>
      <title>RG : Fiche Client</title>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{{ asset('css/materialize.min.css') }}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>


  <nav>
    <div class="nav-wrapper" style="background-color: #70C057">
      <a href="{{ path('dashboard') }}"" class="brand-logo">RibéGroupe : Fiches Clients</a>
    </div>
  </nav>
        
      <table>
        <thead>
          <tr>
              <th>ID</th>
              <th>CODE FICHE</th>
              <th>SOCIETE</th>
              <th>ETAT</th>
              <th>NOM APPEL</th>
              <th>RAISON SOCIALE</th>
              <th>CP VILLE</th>
              <th>ACTION</th>
          </tr>
        </thead>

        <tbody>
      {% for fiche in allFiches %}
          <tr style="background-color: {{ companyColor[fiche.societe] }}">
            <td>{{ fiche.id }}</td>
            <td>{{ fiche.codeFiche }}</td>
            <td>{{ fiche.societe }}</td>
            <td>{{ fiche.validType }}</td>
            <td>{{ fiche.nomAppel }}</td>
            <td>{{ fiche.raisonSociale }}</td>
            <td>{{ fiche.cpVille }}</td>
            <td><a class="waves-effect waves-light btn" href="{{ path('indexId',{'id':fiche.id}) }}"><i class="material-icons right">cloud</i>Voir la fiche</a></td>
          </tr>
      {% endfor %}
        </tbody>
      </table>

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="{{ asset('js/materialize.min.js') }}"></script>
    </body>
  </html>